/* .playground__cont {

} */

.playground {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #fff;
    margin-top: 2.5rem;
    border-radius: 10px;
    height: 73vh;
}


.game__details {
    height: 90%;
}

